<script setup>
import { ref, provide, computed } from 'vue'

import TableList from '@/components/TableList.vue'
import BaseContainer from '@/components/BaseContainer.vue'
import AddTable from '@/components/AddTable.vue'
import FilterTable from '@/components/FilterTable.vue'

let tables = ref([
  { id: 1, tableName: 'Table 1', numberSeats: 8, area: 'Indoor', reservable: true },
  { id: 2, tableName: 'Table 2', numberSeats: 4, area: 'Terrace', reservable: false },
  { id: 3, tableName: 'Table 3', numberSeats: 2, area: 'Indoor', reservable: true },
  { id: 4, tableName: 'Table 4', numberSeats: 2, area: 'Counter', reservable: false },
])

const selectedItem = ref('all')

const filterTables = computed(() => {
  return selectedItem.value === 'reservable'
    ? tables.value.filter((i) => i.reservable === true)
    : tables.value
})

provide('tables', filterTables)

function removeTable(id) {
  tables.value = tables.value.filter((i) => i.id !== id)
}

function addTableItem(table) {
  tables.value.push(table)
}

function checkReservable(item) {
  selectedItem.value = item
}
</script>

<template>
  <BaseContainer>
    <template #container>
      <AddTable @add-table-item="addTableItem" />
      <FilterTable @checkReservable="checkReservable" />
      <TableList :tables="filterTables" @removeTable="removeTable" />
    </template>
  </BaseContainer>
</template>
