<script setup>
import BaseInput from '@/components/BaseInput.vue'
import BaseSelect from '@/components/BaseSelect.vue'

import { ref } from 'vue'

const emit = defineEmits(['add-table-item'])

const list = ref([
  { option: 'Indoor', id: 1 },
  { option: 'Outdoor', id: 2 },
  { option: 'Terrace', id: 3 },
  { option: 'Counter', id: 4 }
])

const tableName = ref('')
const numberSeats = ref('')
const area = ref(list.value[0].option)
const reservable = ref(false)

function onSubmit() {
  const newTable = {
    id: Date.now(),
    tableName: tableName.value,
    numberSeats: numberSeats.value,
    area: area.value,
    reservable: reservable.value
  }
  if (tableName.value.trim() && numberSeats.value.trim()) {
    emit('add-table-item', newTable)
  }
  tableName.value = ''
  numberSeats.value = ''
  reservable.value = false
}

function selectedItem(item) {
  area.value = item
}
</script>

<template>
  <form class="form" @submit.prevent="onSubmit">
    <div class="form__ctx">
      <BaseInput inputType="text" v-model="tableName" title="Table Name" />
      <BaseInput inputType="number" v-model="numberSeats" title="Number of Seats" />
      <div class="form__select">
        <p>Area</p>
        <BaseSelect :list="list" @selected-item="selectedItem" />
      </div>
      <label class="form__reserve">
        <input class="form__checkbox" type="checkbox" v-model="reservable" />
        <span>Reservable</span>
      </label>
    </div>
    <button class="form__button" type="submit">Add Table</button>
  </form>
</template>

<style scoped lang="scss">
.form {
  background: #f8fcfd;
  padding: 60px 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  &__ctx {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
  }

  &__select {
    display: flex;
    align-items: center;

    p {
      padding-right: 20px;
      font-weight: bold;
    }
  }

  &__reserve {
    display: flex;
    align-items: center;

    span {
      padding-left: 8px;
      font-weight: bold;
    }
  }

  &__checkbox {
    width: 16px;
    height: 16px;
    cursor: pointer;
  }

  &__button {
    width: 240px;
    margin: 0 auto;
    background: #5abf6f;
    border-radius: 30px;
    border: none;
    padding: 12px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #fff;

    &:hover {
      background: #4fb364;
      transition: 0.3s;
      cursor: pointer;
    }
  }
}
</style>
