<template>
  <div class="container">
    <slot name="container"></slot>
  </div>
</template>

<style scoped lang="scss">
.container {
  max-width: 1200px;
  padding: 40px 80px;
  margin: 0 auto;
  position: relative;
  z-index: 9;

  @media (max-width: 768px) {
    padding: 20px 20px;
  }

  @media (max-width: 360px) {
    padding: 8px 8px;
  }
}
</style>
