<script setup>

import { ref } from 'vue'
import Arrow from '@/assets/Arrow.svg'

const emit = defineEmits(['selected-item'])

const props = defineProps({
  list: {
    type: Array,
    required: true
  }
})

const value = ref(props.list[0].option)
const visible = ref(false)

function toggle() {
  visible.value = !visible.value
}

function select({ option }) {
  value.value = option
  emit('selected-item', option)
}
</script>

<template>
  <div class="select" :data-value="value" :data-list="list">
    <div
      class="select__selector"
      :data-value="value"
      :data-list="list"
      :class="{ 'on-visible': visible }"
      @click="toggle"
    >
      <div class="select__label">
        <span>{{ value }}</span>
      </div>
      <img class="select__arrow" :class="{ expanded: visible }" :src="Arrow" alt="" />
      <div :class="{ hidden: !visible, visible }">
        <ul>
          <li
            :class="{ current: item === value }"
            v-for="item in list"
            :key="item"
            @click="select(item)"
          >
            {{ item.option }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss">
.select {
  &__selector {
    width: 104px;
    border: 1px solid #e3e4e6;
    border-radius: 20px;
    position: relative;
    z-index: 1;
    .expanded {
      transform: rotateZ(180deg) translateY(2px);
    }
  }
  &__arrow {
    position: absolute;
    right: 10px;
    top: 35%;
    width: 18px;
    height: 18px;
    transform: rotateZ(0deg) translateY(0px);
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.59, 1.39, 0.37, 1.01);
  }
  &__label {
    display: block;
    padding: 8px 12px;
    font-size: 16px;
  }
  ul {
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
    border: 1px solid gainsboro;
    position: absolute;
    z-index: 1;
    background: #fff;
  }
  li {
    padding: 12px;
    color: #666;
    &:hover {
      color: white;
      background: #5abf6f;
    }
  }
  .current {
    background: #eaeaea;
  }
  .hidden {
    visibility: hidden;
  }
  .visible {
    visibility: visible;
  }
}
.on-visible {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
</style>
