<template>
  <label class="base-input">
    <span class="base-input__title">{{ title }}</span>
    <input
      :type="inputType"
      class="base-input__input"
      :class="[inputType === 'number' ? 'number-type' : '']"
      placeholder=" "
      :value="modelValue"
      @input="$emit('update:modelValue', $event.target.value)"
    />
  </label>
</template>

<script setup>
defineProps({
  modelValue: {
    type: [String, Number],
    default: ''
  },
  title: {
    type: String,
    default: ''
  },
  inputType: {
    type: String,
    default: String,
    validator: (value) => ['text', 'number'].includes(value)
  }
})
</script>

<style scoped lang="scss">
.base-input {
  &__title {
    padding-right: 20px;
    font-weight: bold;
  }
  &__input {
    border: 2px solid #e3e4e6;
    border-radius: 18px;
    padding: 4px 8px;
    outline: none;
  }
}
.number-type {
  width: 100%;
  max-width: 40px;
}
</style>
