<script setup>
import { ref } from 'vue'

const chboxValue = ref('all')
</script>

<template>
  <div class="filter">
    <p class="title">Tables</p>
    <div class="radio-item">
      <input
        type="radio"
        id="all"
        value="all"
        v-model="chboxValue"
        @change="$emit('checkReservable', chboxValue)"
      />
      <label for="all">All</label>
    </div>

    <div class="radio-item">
      <input
        type="radio"
        id="reservable"
        value="reservable"
        v-model="chboxValue"
        @change="$emit('checkReservable', chboxValue)"
      />
      <label for="reservable">Reservable</label>
    </div>
  </div>
</template>

<style scoped lang="scss">
.filter {
  background: #f8fcfd;
  padding: 30px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  .title {
    font-weight: bold;
  }
  .radio-item {
    display: inline-block;
    position: relative;
    padding: 0 24px;

    input[type='radio'] {
      display: none;
    }

    label {
      color: #666;
      font-weight: bold;

      &:before {
        content: ' ';
        display: inline-block;
        position: relative;
        top: 5px;
        margin: 0 5px 0 0;
        width: 20px;
        height: 20px;
        border-radius: 11px;
        border: 2px solid #e3e4e6;
        background-color: transparent;
      }
    }

    input[type='radio']:checked + label:after {
      border-radius: 11px;
      width: 12px;
      height: 12px;
      position: absolute;
      top: 9px;
      left: 28px;
      content: ' ';
      display: block;
      background: #5abf6f;
    }
  }
}
</style>
