<script setup>
import TheTable from '@/components/TheTable.vue'

defineProps({
  tables: {
    type: Array,
    default: () => []
  }
})

const emit = defineEmits(['removeTable'])

function removeTable(id) {
  emit('removeTable', id)
}
</script>

<template>
  <div class="table-list">
    <TheTable class="table-list__table" v-if="tables.length" @remove-table="removeTable" />
    <p class="table-list__information" v-else>NO FOR TABLE RESERVATIONS</p>
  </div>
</template>

<style scoped lang="scss">
.table-list {
  &__information {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
  }
  &__table {
    margin-top: 20px;
  }
}
</style>
