<script setup>
import { inject } from 'vue'

const tables = inject('tables')
</script>

<template>
  <table class="table">
    <tr>
      <th>Table Name</th>
      <th>Number of Seats</th>
      <th>Area</th>
      <th>Reservable</th>
      <th>Actions</th>
    </tr>
    <tr v-for="table in tables" :key="table.id">
      <td>{{ table.tableName }}</td>
      <td>{{ table.numberSeats }}</td>
      <td>{{ table.area }}</td>
      <td>{{ table.reservable ? 'YES' : 'NO' }}</td>
      <td>
        <button class="table__delete" @click="$emit('remove-table', table.id)">X</button>
      </td>
    </tr>
  </table>
</template>

<style scoped lang="scss">
.table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 8px;
    font-weight: bold;
  }
  &__delete {
    width: 20px;
    border: none;
    background: #fff;
    font-size: 18px;
    cursor: pointer;
  }
}
</style>
